@tailwind base;
@tailwind components;
@tailwind utilities;


.public-DraftStyleDefault-RED {
  color: red;
}

.public-DraftEditor-content .public-DraftStyleDefault-block {
  margin-bottom: 1rem; 
}

.public-DraftEditor-content .public-DraftStyleDefault-block.RichEditor-root-HEADER_ONE {
  margin-bottom: 2rem; /* Adjust margin for headers */
}
